:root {
    --white: #fff;
    --light: #f5f5fa;
    --lightgrey: #dcdfe6;
    --darkgrey : #d3d3d3;
    --dark: #333;
    --black: #000;
    --sapphire: #163375; // 蓝宝石色
    --skyblue: #3498db;
    --blue: #409eff;
    --red: #ff4757;
    --orange: #ffa502;
    --cyan: #1abc9c;
    --grape: #c850c0;

    --border-color: #eee;
    --quote-color: #666;
}