/* 弹出框 */
.el-popover.popover {
    background-color: var(--white);
    color: var(--black);
    display: flex;
    justify-content: space-evenly;
    padding-top: 5px;
    padding-bottom: 5px;

    .el-popover__title {
        color: var(--black);
    }
}


/* emoji表情弹出框 */
.emoji-popover {
    .emoji-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);

        .emoji-item {
            font-size: 18px;
            cursor: pointer;
            text-align: center;
            padding: 4px;
            border-radius: 8px;

            &:hover {
                background-color: var(--lightgrey);
            }
        }
    }
}