@font-face {
  font-family: "iconfont"; /* Project id 4900987 */
  font-display: swap;
  src: url('iconfont.woff2?t=1749734558408') format('woff2');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 18px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sun:before {
  content: "\e886";
}

.icon-Dropdown:before {
  content: "\e61b";
}

.icon-moon:before {
  content: "\ea26";
}

.icon-share:before {
  content: "\e65a";
}

.icon-like:before {
  content: "\e707";
}

.icon-ic_talk_line:before {
  content: "\e613";
}

.icon-picture:before {
  content: "\e680";
}
