:root.light {
    --white: #fff;
    --light: #f5f5fa;
    --lightgrey: #dcdfe6;
    --darkgrey : #d3d3d3;
    --light-dark: #444;
    --dark: #333;
    --black: #000;
    --sapphire: #163375; // 蓝宝石色

    --border-color: #eee;
    --quote-color: #666;
    --code-color: #666;
    --code-background: #f5f5fa;
    --code-inline: #C2185B;
    --code-background-inline: #FFF4F4;
    --reply-border: #e6e6e6;
    --submit-button: #909090;
    --icon-background :#ededed;
    --links-background: #f4f4f4;

    --c1: #ebebeb;
    --c2: #dcdcdc;
    --c3: #bfbfbf;

    // 固定色
    --skyblue: #3498db;
    --blue: #409eff;
    --light-blue: #51c7f9;
    --lake: #A7CAFD;
    --red: #ff4757;
    --orange: #e8d229;
    --gold: #ffff18;
    --cyan: #005072;
    --grape: #c850c0;
    --lavender: #c792ff;
}

:root.dark {
    --white: #333;
    --light: #222;
    --lightgrey: #939393;
    --darkgrey : #000;
    --light-dark: #dcdfe6;
    --dark: #fff;
    --black: #f5f5fa;
    --sapphire: #2aadb2;
    
    --border-color: #333;
    --quote-color: #999;
    --code-color: #f5f5fa;
    --code-background: #555;
    --code-inline: #d8e8ff;
    --code-background-inline: #54627a;
    --reply-border: #666;
    --submit-button: #cccfd4;
    --icon-background: #cccfd4;
    --links-background: #555;

    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;

    // 固定色
    --skyblue: #3498db;
    --blue: #409eff;
    --light-blue: #51c7f9;
    --lake: #A7CAFD;
    --red: #ff4757;
    --orange: #e8d229;
    --gold: #ffff18;
    --cyan: #005072;
    --grape: #c850c0;
    --lavender: #c792ff;
}