:root.light {
    --white: #FAF9F7;
    --light: #F9FAFB;
    --lightgrey: #dcdfe6;
    --darkgrey: #d3d3d3;
    --light-dark: #444;
    --dark: #333;
    --black: #000;

    --border-color: #ECEEF2;
    --quote-color: #666;
    --code-color: #000;
    --code-background: #f5f2f0;
    --code-inline: #757575;
    --code-background-inline: #FCFCFD;
    --reply-border: #ECEEF2;
    --submit-button: #909090;
    --icon-background :#F2F3F5;
    --links-background: #FAF9F7;
    --b-color: #2D2D2D;
    --hr-color: #ECEEF2;

    --c1: #F2F3F5;
    --c2: #E5E7EB;
    --c3: #D1D5DB;

    --blue: #2D2D2D;
    --skyblue: #409eff;

    // 固定色
    --light-blue: #51c7f9;
    --lake: #A7CAFD;
    --red: #ff4757;
    --orange: #e8d229;
    --gold: #ffff18;
    --cyan: #005072;
    --grape: #c850c0;
    --lavender: #c792ff;
    --sapphire: #163375; // 蓝宝石色
    --green: #2aadb2;
}

:root.dark {
    --white: #333;
    --light: #222;
    --lightgrey: #939393;
    --darkgrey : #000;
    --light-dark: #dcdfe6;
    --dark: #fff;
    --black: #f5f5fa;
    
    --border-color: #333;
    --quote-color: #999;
    --code-color: #000;
    --code-background: #f5f2f0;
    --code-inline: #d8e8ff;
    --code-background-inline: #54627a;
    --reply-border: #666;
    --submit-button: #cccfd4;
    --icon-background: #cccfd4;
    --links-background: #333;
    --b-color: #FFFFFF;
    --hr-color: #e0e0e0;

    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;

    --blue: #FFFFFF;
    --skyblue: #40b6ff;

    // 固定色
    --light-blue: #51c7f9;
    --lake: #A7CAFD;
    --red: #ff4757;
    --orange: #e8d229;
    --gold: #ffff18;
    --cyan: #005072;
    --grape: #c850c0;
    --lavender: #c792ff;
    --sapphire: #163375; // 蓝宝石色
    --green: #2aadb2;
}
